<!DOCTYPE html>
<html>
<head>
  <title>PhotoSharing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap-cerulean.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="app/assets/stylesheets/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
